main {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  top: var(--header-height);
  align-items: center;
}

div#about-column {
  height: 100%;
  width: 90vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div#about-title {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

a#back-to-chat {
  justify-self: center;
  align-self: center;
}

footer {
  height: var(--footer-height);
  background-color: var(--light-gray);
}
